:root {
  /* Färgpalett */
  --forest: #003300;
  --fog: #99cfab;
  /* --breeze: #d1f7e5; */
  /* --breeze: #eafffe; */
  --breeze: #f8fffb;
  --night_black: #000000;
  --light_the_way: #33ff99;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", serif;
  color: var(--night_black);
}

header {
  position: relative;
  display: flex;
  color: var(--fog);
  height: 40rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/annie-spratt-Oe8RS0nt9aw-unsplash.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 51, 0, 0.23);
  z-index: -1;
}

.header-text {
  margin-left: 10rem;
  z-index: 1;
  margin-top: 5rem;
}

a {
  text-decoration: none;
  color: var(--forest);
}

a:hover {
  color: var(--night_black);
}

.container {
  margin-left: 12rem;
  margin-top: 5rem;
  width: 80%;
}

.container-flex {
  display: flex;
  

}

.container-text {
  margin-left: 6rem;
  margin-top: 0.1rem;
}

.text-container {
  width: 50%;
  color: white;
}

.background-color {
  background-color: var(--breeze);
}

.headline-text {
  /* 150px/155px */
  /* font-size: 9.375rem; */
  /* h1 */
  font-size: 3.815rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1rem;
}

.h3_headline {
  font-size: 2.441rem;
}

.introduction-text {
  /* font-size: 39px; */
  /* h4 */
  /* font-size: 2.438rem; */
  font-size: 1.953rem;
  /* font-weight: 100; */
  font-weight: 400;
  margin-bottom: 3rem;
}

.introduction-text__header {
  font-size: 1.953rem;
  /* font-weight: 100; */
  font-weight: 400;
  margin-bottom: 1rem;
}

.info-text {
  /* font-size: 26px; */
  font-size: 1.625rem;
  font-weight: 600;
}

.body-text {
  /* font-size: 29px; */
  /* font-size: 1.813rem; */
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  width: 25rem;
  /* border: 1px solid green; */
}

.visual_8, .visual_10 {
  width: 500px;
}

.visual_9 {
  width: 850px;
}

.figure-text {
  font-style: italic;
  font-size: 85%;
  width: 30rem;
}

.visual_label {
  /* rubriker till visualiseringar */
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.legend_label {
  font-size: 0.8rem;
  font-weight: 400;
}

.visual_label--2 {
  /* x och y axel labels*/
  font-size: 0.8rem;
  font-weight: 400;
}

.font-color--dark {
  color: var(--forest);
}

.visual-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.visual-container h4 {
  grid-column: 1 / -1;
}

.text-box {
  color: var(--forest);
  border-radius: 1rem;
  padding: 3rem;
}

.comments-container {
  width: 80%;
}

.legend {
  margin-left: 20px;
}

.legend-item {
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 15px;
  height: 15px;
  border-radius: 0.4rem;
  display: inline-block;
  margin-right: 10px;
}

.legend-text {
  font-size: 14px;
}

.visuals {
  width: 100%;
}

.visual_1,
.visual_3,
.visual_4,
.visual_5,
.visual_6,
.visual_7,
.visual_10 {
  margin-bottom: 1.5rem;
}

.visual_9, .visual_8 {
  margin-bottom: 4rem;
}



.heatmap-cell {
  stroke: #ccc;
}
.text {
  font-size: 12px;
  text-anchor: middle;
  fill: white;
}
.row-label,
.col-label {
  font-size: 14px;
  font-weight: bold;
}
.legend {
  font-size: 12px;
}

.bold-text {
  font-weight: 600;
}

.footer {
  display: flex;
  background-color: #003300;
  color: white;
  height: 10rem;
}



